import "mocha";
import { expect } from "chai";
import { help } from "@valuer/help";
import { TestCase } from "./test-case";

import __CAMEL__, { InputArgs, Output } from "../../src/__ETYPE__s/__ENAME__";

const testCases: TestCase<InputArgs, Output>[] = [
	// TODO: add
];

describe("__ENAME__: __DESCR__", () => {
	if (testCases.length < 3)
		it("lacks proper test coverage");

	else for (const { inputArgs, output } of testCases)
		it(`for (${ help.getPrintableList(inputArgs, true) }) outputs ${ help.getPrintable(output) }`, () => {
			expect(__CAMEL__(...inputArgs)).to.deep.equal(output);
		});
});
